.css-e3xfei.e1fqkh3o4 {
                background-image: url("https://github.com/dataprofessor/st-multipage-with-logo/raw/master/logo.png");
                background-size: 80%;
                background-repeat: no-repeat;
                padding-top: 80px;
                background-position: center top;
}

.css-e3xfei.e1fqkh3o4::before {
                content: "Menu";
                padding-bottom: 100px;
                margin-left: 20px;
                margin-top: 20px;
                font-size: 20px;
                font-weight: bold;
                position: relative;
                top: 90px;
}


